* {
}
#epic-title {
	font-size: 3em;
	padding: 1.5em 3.5em;
	max-width:700px;
	/*min-height: 375px;*/
	width: 100%;
	margin:auto;

/*	background-image:url(../media/banner.png);
	background-size: contain;
	background-size: 100% 100%;
	background-position: center center;
	background-repeat:no-repeat;*/
}
@media only screen and (max-width:500px){
	#epic-title {
		padding: 1.5em 1.5em;
	}
	#page-title span {
		font-size:.7em;
	}
}
#output {
	min-height: 375px;
}

#epic-title {
    position: relative;
    overflow: hidden;
}
#epic-title b {
    /*padding: 200px;*/
    position: relative;
    z-index: 2;
} 
#epic-title img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

#seed-name, #randomize-button {
	margin-bottom:2em;
}
html,body {
	width:100%;
	height:100%;
	margin:0;
}
html {
	display:table;
}
body {
	font-family: 'MedievalSharp', cursive, serif;
	text-align: center;

	background-color: #D2B876;
	background-color: HSL(47, 52%, 84%);
	color: rgba(61, 44, 12, .8);
	text-shadow: 1px 1px 1px rgba(61, 44, 12, .3);
	background-image: url(../media/vellum.jpg);
	background-size: 101% 100%;
	
	display:table-cell;
	vertical-align: middle;
}
/*#randomize-button {
	background-color: #D2B876;
	box-shadow: 1px 1px 1px rgba(61, 44, 12, .3), -1px -1px 1px rgba(61, 44, 12, .3) inset;
	color: rgba(61, 44, 12, .8);
	padding:6px 12px;
    -webkit-transition: .5s;
    transition: .5s;
}*/
/*#randomize-button:hover {
	cursor: pointer;
	box-shadow: 2px 2px 2px rgba(61, 44, 12, .3), -2px -2px 2px rgba(61, 44, 12, .3) inset;
	text-shadow: 2px 2px 2px rgba(61, 44, 12, .3);
}*/

::selection {
  background: RGBA(203, 80, 59, .5); /* WebKit/Blink Browsers */
  background: RGBA(213, 32, 0, .5);
}
::-moz-selection {
  background: RGBA(203, 80, 59, .5); /* Gecko Browsers */
  background: RGBA(213, 32, 0, .5);
}


.form-inline input {
	width:240px !important;
}
.form-inline input.input-lg {
	/*width:320px !important;*/
}